@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600");
body {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
}

a {
  color: white;
  text-decoration: underline;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
a:hover, a:focus {
  color: #b68e0d;
}

p {
  font-weight: 300;
}

.text-yellow {
  color: #b68e0d;
}

.text-blue {
  color: #172330;
}

.text-font-across {
  font-family: "acrosstheroadregular";
}

.Title {
  font-size: 6.875em;
}

.Header {
  padding: 30px 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 99;
}

.Header-menu {
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  width: 100%;
}

.Header-logo {
  margin: 0 25px 0 0;
}

.Carousel--eventos {
  border: 1px solid #b68e0d;
  padding: 15px;
}
.Carousel--eventos .carousel-control, .Carousel--contact .carousel-control {
  background-color: rgba(19, 78, 127, 0.8);
  bottom: auto;
  font-size: 3em;
  line-height: 1.1em;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  text-shadow: none;
  text-decoration: none;
  top: 40%;
  width: auto;
}
.Carousel--eventos .carousel-control.left, .Carousel--eventos .carousel-control.right, .Carousel--contact .carousel-control.left, .Carousel--contact .carousel-control.right {
  background-image: none;
  background-repeat: no-repeat;
}
.Carousel--eventos .carousel-control:hover, .Carousel--contact .carousel-control:hover {
  background-color: rgba(182, 142, 13, 0.8);
}

.MainMenu {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-content: center;
  align-content: center;
  height: 49px;
  margin-bottom: 0;
  padding-left: 0;
}
.MainMenu li {
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-flex;
  display: flex;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
  list-style: none;
}
.MainMenu li:first-child a {
  padding-left: 15px;
}
.MainMenu li:first-child::before {
  background-image: url("./../images/bg-menu-left.png");
  background-color: transparent;
  background-position: 0 0;
  background-repeat: no-repeat;
  content: "";
  display: inline-block;
  height: 49px;
  width: 20px;
}
.MainMenu li:last-child::after {
  background-image: url("./../images/bg-menu-right.png");
  background-color: transparent;
  background-position: 0 0;
  background-repeat: no-repeat;
  content: "";
  display: inline-block;
  height: 49px;
  width: 20px;
}
.MainMenu li a {
  -webkit-align-items: center;
  align-items: center;
  background-color: white;
  color: #172330;
  display: -webkit-flex;
  display: flex;
  height: 49px;
  padding-right: 15px;
  text-decoration: none;
}
.MainMenu li.active a, .MainMenu li.current-menu-item a, .MainMenu li.current-menu-parent a {
  color: #b68e0d;
  text-decoration: underline;
}

@font-face {
  font-family: 'acrosstheroadregular';
  src: url("./../fonts/acrosstheroad.eot");
  src: url("./../fonts/acrosstheroad.eot?#iefix") format("embedded-opentype"), url("./../fonts/acrosstheroad.woff2") format("woff2"), url("./../fonts/acrosstheroad.woff") format("woff"), url("./../fonts/acrosstheroad.ttf") format("truetype"), url("./../fonts/acrosstheroad.svg#acrosstheroadregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'icomoon';
  src: url("./../fonts/icomoon.eot?yc34bm");
  src: url("./../fonts/icomoon.eot?yc34bm#iefix") format("embedded-opentype"), url("./../fonts/icomoon.ttf?yc34bm") format("truetype"), url("./../fonts/icomoon.woff?yc34bm") format("woff"), url("./../fonts/icomoon.svg?yc34bm#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-instagram:before {
  content: "\e906";
}

.icon-twitter:before {
  content: "\e904";
}

.icon-brand:before {
  content: "\e904";
}

.icon-tweet:before {
  content: "\e904";
}

.icon-social:before {
  content: "\e904";
}

.icon-facebook:before {
  content: "\e905";
}

.icon-brand2:before {
  content: "\e905";
}

.icon-social2:before {
  content: "\e905";
}

.icon-keyboard_arrow_up:before {
  content: "\e900";
}

.icon-keyboard_arrow_right:before {
  content: "\e901";
}

.icon-keyboard_arrow_left:before {
  content: "\e902";
}

.icon-keyboard_arrow_down:before {
  content: "\e903";
}

.Page {
  min-height: 100vh;
  padding: 175px 0 0;
}
.Page--eventos {
  background: transparent url("./../images/bg-eventos.png") center 0 repeat-y;
  background-size: cover;
}
.Page--videos {
  background: transparent url("./../images/bg-videos.png") center 0 repeat-y;
  background-size: cover;
}
.Page--nosotros {
  background: transparent url("./../images/bg-nosotros.jpg") center 0 repeat-y;
  background-size: cover;
}
.Page--contactanos {
  background: transparent url("./../images/bg-contactanos.png") center 0 repeat-y;
  background-size: contain;
}

.Page-title {
  font-weight: 600;
}

.Page-figure {
  margin-bottom: 25px;
}

.Page-blog {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.Page-blog-item {
  margin-right: 25px;
}
.Page-blog-item:nth-child(4n+4) {
  margin-right: 0;
}

.Page-blog-figure {
  border: 1px solid transparent;
  display: inline-block;
  position: relative;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.Page-blog-figure:hover {
  border-color: #b68e0d;
}
.Page-blog-figure:hover .Page-blog-figure-readMore {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}

.Page-blog-figure-readMore {
  background-color: rgba(23, 35, 48, 0.8);
  bottom: 0;
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  font-weight: 600;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  position: absolute;
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -webkit-transform: scale(0, 0);
  transform: scale(0, 0);
  text-align: center;
  top: 0;
  width: 100%;
}
.Page-blog-figure-readMore a {
  color: #b68e0d;
  display: block;
  text-decoration: none;
}
.Page-blog-figure-readMore a::before {
  background: transparent url("./../images/eye.png") center 0 no-repeat;
  content: "";
  display: block;
  height: 53px;
  margin-bottom: 5px;
  width: 56px;
}

.Page-blog-title {
  color: white;
  font-weight: 300;
}

.Page-marginTop {
  margin-top: 30px;
}

.Page-video {
  border: 1px solid #b68e0d;
  padding: 15px;
}

.Page-textDecorate::before, .Page-textDecorate::after {
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  display: block;
  height: 60px;
  width: 100%;
}
.Page-textDecorate::before {
  background-image: url("./../images/lazo-top.png");
  margin-bottom: 20px;
}
.Page-textDecorate::after {
  background-image: url("./../images/lazo-bottom.png");
  margin-top: 20px;
}

.Button {
  display: inline-block;
  font-size: 1.25em;
  padding: 5px 20px;
  text-decoration: none;
  vertical-align: top;
}
.Button--border {
  border-style: solid;
  border-width: 1px;
}
.Button--borderWhite {
  border-color: white;
}
.Button--borderWhite:hover {
  border-color: #b68e0d;
}
.Button:hover {
  text-decoration: none;
}
.Button--submit {
  background: transparent url("./../images/button-submit.png") 0 0 no-repeat;
  border: none;
  color: white;
  font-size: 1.125em;
  height: 52px;
  padding: 0;
  text-transform: uppercase;
  width: 134px;
}
.Button--submit:hover {
  background-image: url("./../images/button-submit-hover.png");
}

.Nav {
  display: inline-block;
  vertical-align: top;
}
.Nav:hover .Nav-left {
  background-position: 0 -42px;
}
.Nav:hover .Nav-right {
  background-position: -75px -42px;
}

.Nav-left, .Nav-right {
  background-image: url("./../images/sprites.png");
  background-repeat: no-repeat;
  display: block;
  height: 42px;
  width: 75px;
}

.Nav-left {
  background-position: 0 0;
}

.Nav-right {
  background-position: -75px 0;
}

.Box {
  display: -webkit-flex;
  display: flex;
}

.Box-item {
  -webkit-flex: 0 1 23%;
  flex: 0 1 23%;
}

.Social {
  border: 1px solid white;
  margin-top: 30px;
  padding: 15px 30px;
}
.Social h3 {
  color: white;
  font-size: 1.125em;
  margin: 0 0 15px 0;
}
.Social h3 strong {
  font-weight: 600;
}

.Social-list {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  margin-bottom: 0;
  padding-left: 0;
  width: 100%;
}
.Social-list li {
  font-size: 3em;
  list-style: none;
  margin-right: 15px;
}
.Social-list li:last-child {
  margin-right: 0;
}
.Social-list li a {
  text-decoration: none;
}

.Form .form-group {
  margin-bottom: 20px;
}
.Form .form-control {
  border: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  color: #787878;
  font-size: 1em;
  height: auto;
}
.Form .form-control:-moz-placeholder {
  color: #787878;
  font-size: 1em;
}
.Form .form-control::-moz-placeholder {
  color: #787878;
  font-size: 1em;
}
.Form .form-control:-ms-input-placeholder {
  color: #787878;
  font-size: 1em;
}
.Form .form-control::-webkit-input-placeholder {
  color: #787878;
  font-size: 1em;
}
.Form textarea.form-control {
  height: 150px;
}

.Form-loader {
  color: white;
  display: inline-block;
  font-size: 1.5em;
  margin: 0 15px;
  vertical-align: middle;
}

.Pagination {
  display: -webkit-flex;
  display: flex;
  margin: 50px 0 0;
  width: 100%;
}
.Pagination ul.page-numbers {
  display: -webkit-flex;
  display: flex;
  -webkit-align-content: center;
  align-content: center;
  -webkit-justify-content: center;
  justify-content: center;
  margin-bottom: 0;
  padding-left: 0;
  width: 100%;
}
.Pagination ul.page-numbers li {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  list-style: none;
  margin-right: 20px;
}
.Pagination ul.page-numbers li:last-child {
  margin-right: 0;
}
.Pagination ul.page-numbers li a {
  text-decoration: none;
  -moz-transition: none;
  -o-transition: none;
  -webkit-transition: none;
  transition: none;
}
.Pagination ul.page-numbers li a, .Pagination ul.page-numbers li span {
  display: block;
}
.Pagination ul.page-numbers li a.prev, .Pagination ul.page-numbers li a.next {
  background-image: url("./../images/sprites.png");
  background-repeat: no-repeat;
  height: 42px;
  width: 75px;
}
.Pagination ul.page-numbers li a.prev {
  background-position: 0 0;
}
.Pagination ul.page-numbers li a.prev:hover {
  background-position: 0 -42px;
}
.Pagination ul.page-numbers li a.next {
  background-position: -75px 0;
}
.Pagination ul.page-numbers li a.next:hover {
  background-position: -75px -42px;
}
.Pagination ul.page-numbers li .current {
  color: #b68e0d;
}

.Maps {
  display: -webkit-flex;
  display: flex;
  margin: 25px 0;
}

.Maps-carousel, .Maps-wrapper {
  -webkit-flex: 0 1 50%;
  flex: 0 1 50%;
}

.Maps-map {
  height: 100%;
}

.Events {
  display: -webkit-flex;
  display: flex;
}

.Events-video {
  margin-right: 15px;
  width: 700px;
}

.Events-content {
  margin-left: 15px;
}

.Marker {
  padding-top: 15px;
}

.Marker-list {
  padding-left: 0;
}
.Marker-list li {
  color: #172330;
  font-size: 14px;
  font-weight: 300;
  list-style: none;
  margin-bottom: 10px;
}
.Marker-list li strong {
  font-weight: 600;
}

.Marker-title {
  color: #172330;
  font-size: 1.75em;
  font-weight: 600;
  margin-top: 0;
}
