.Button {
  display: inline-block;
  font-size: 1.25em;
  padding: 5px 20px;
  text-decoration: none;
  vertical-align: top;
  &--border {
    border-style: solid;
    border-width: 1px;
  }
  &--borderWhite {
    border-color: white;
    &:hover {
      border-color: $yellow;
    }
  }
  &:hover {
    text-decoration: none;
  }
  &--submit {
    background: transparent url('./../images/button-submit.png') 0 0 no-repeat;
    border: none;
    color: white;
    font-size: 1.125em;
    height: 52px;
    padding: 0;
    text-transform: uppercase;
    width: 134px;
    &:hover {
      background-image: url('./../images/button-submit-hover.png');
    }
  }
}
.Nav {
  display: inline-block;
  vertical-align: top;
  &:hover {
    .Nav-left {
      background-position: 0 -42px;
    }
    .Nav-right {
      background-position: -75px -42px;
    }
  }
}
.Nav-left, .Nav-right {
  background-image: url('./../images/sprites.png');
  background-repeat: no-repeat;
  display: block;
  height: 42px;
  width: 75px;
}
.Nav-left {
  background-position: 0 0;
}
.Nav-right {
  background-position: -75px 0;
}
