.Events {
  @include display-flex();
  @media screen and (max-width: 991px) {
    display: block;
  }
}
.Events-video {
  margin-right: 15px;
  width: 700px;
  @media screen and (max-width: 991px) {
    margin-bottom: 50px;
    margin-right: 0;
    padding: 0;
    width: 100%;
  }
}
.Events-content {
  margin-left: 15px;
  @media screen and (max-width: 991px) {
    margin-left: 0;
  }
}
