.Form {
  @media screen and (max-width: 991px) {
    margin-top: 25px;
  }
  .form-group {
    margin-bottom: 20px;
  }
  .form-control {
    border: none;
    @include border-radius(0);
    color: #787878;
    font-size: 1em;
    height: auto;
    @include input-placeholder {
      color: #787878;
      font-size: 1em;
    }
    @media screen and (max-width: 991px) {
      padding: 10px 12px;
    }
  }
  textarea {
    &.form-control {
      height: 150px;
    }
  }
  .Form-button {
    text-align: right;
    @media screen and (max-width: 991px) {
      text-align: center;
    }
  }
}
.Form-loader {
  color: white;
  display: inline-block;
  font-size: 1.5em;
  margin: 0 15px;
  vertical-align: middle;
}
