body {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  &.category, &.single {
    @media screen and (max-width: 991px) {
      background: transparent url('./../images/bg-body.jpg') 0 0 repeat;
    }
  }
  &.page-template-page-contact {
    @media screen and (max-width: 991px) {
      background-color: $skyBlue;
    }
  }
}
a {
  color: white;
  text-decoration: underline;
  @include transition(all 0.2s ease-in);
  &:hover, &:focus {
    color: $yellow;
  }
}
p {
  font-weight: 300;
}
.text-yellow {
  color: $yellow;
}
.text-blue {
  color: $text-color;
}
.text-font-across {
  font-family: "acrosstheroadregular";
}
.Title {
  font-size: 6.875em;
}
