.Marker {
  padding-top: 15px;
}
.Marker-list {
  padding-left: 0;
  li {
    color: $text-color;
    font-size: 14px;
    font-weight: 300;
    list-style: none;
    margin-bottom: 10px;
    strong {
      font-weight: 600;
    }
  }
}
.Marker-title {
  color: $text-color;
  font-size: 1.75em;
  font-weight: 600;
  margin-top: 0;
}
